# netlify.toml
[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_APP_AUTH_DOMAIN_FIREBASE,VITE_APP_MEASUREMENT_ID,VITE_APP_MESSAGING_SENDER_ID,VITE_APP_API_KEY_FIREBASE,VITE_APP_APP_ID,VITE_APP_PROJECT_ID_FIREBASE,VITE_APP_STORAGE_BUCKET_FIREBASE,VITE_APP_API_BASEURL"
