.double_slider_box {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.range_slider {
  position: relative;
  width: 100%;
  height: 5px;
  margin: 30px 0;
  background-color: #8a8a8a;
  border-radius: 5px;
}

.range_track {
  width: 100%;
  position: absolute;
  left: 0;
  right: 100%;
  border-radius: 50%;
  background-color: #fe696a;
}

.range_slider input[type="range"] {
  position: absolute;
  width: 100%;
  top: 0;
  transform: translateY(-50%);
  background: none;
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
  height: 5px;
}

input[type="range"]::-webkit-slider-thumb,
input[type="range"]::-moz-range-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #fe696a;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 0 0.125rem 0.5625rem -0.125rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 2;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.input_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.min_box,
.max_box {
  width: 50%;
}

.min_box {
  margin-right: 10px;
}

.min_box input {
  float: right;
}

input[type="number"] {
  width: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.min_tooltip,
.max_tooltip {
  position: absolute;
  top: -35px;
  font-size: 12px;
  color: #555;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}

.min_tooltip {
  left: 0;
  transform: translateY(-50%);
}

.max_tooltip {
  right: 0;
  transform: translateY(50%);
}





/* Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}